<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154462080487-qf417k940p040c3unc5ror0mfbqiuf38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154462080487-qf417k940p040c3unc5ror0mfbqiuf38</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>154462080487-hng6jchfnpio2fsa6f1638pc526vkr3a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAzBIIEO3G7o33o_mcZB5uXdoi7PYillBg</string>
	<key>GCM_SENDER_ID</key>
	<string>154462080487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oneConnectApp</string>
	<key>PROJECT_ID</key>
	<string>one-connect-app-66a93</string>
	<key>STORAGE_BUCKET</key>
	<string>one-connect-app-66a93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154462080487:ios:af93f5e59315288cb94142</string>
</dict>
</plist>